@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@900&family=Open+Sans:wght@400;700&display=swap');

:root {
  --primary-color: rgba(97, 8, 199, 0.877);
  --white: #ffffff;
  --border-input: #ccc;
  --text-color: #424546;
  --green: #34cc88;
  --red: rgb(228, 70, 102);
}

* {
  box-sizing: border-box;
  outline: 0;
  font-family: 'Open Sans', sans-serif;
}

body {
  margin: 0;
  padding: 0;
  background: var(--primary-color);
}

.container {
  max-width: 40rem;
  margin: 3rem auto;
  padding: 0.5rem 2rem;

  border-radius: 0.25rem;

  background: var(--white);
}

.container h1 {
  text-align: center;
  font-size: 3rem;
  color: var(--primary-color);
}

.infos-imc {
  display: flex;
  margin-bottom: 1rem;
  color: var(--text-color);
}

.infos-imc > div {
  margin-right: 6rem;
}

form input, form label, form button {
  display: block;
  width: 100%;
  margin-bottom: 1rem;
}

form input  {
  font-size: 1.5rem;
  height: 3rem;
  border: 1px solid var(--border-input);
}

form input:focus {
  outline: 1px solid var(--primary-color);
}

form button {
  width: 50%;
  margin: 1.5rem auto;
  padding: 1rem;
  margin-top: 2rem;
  font-size: 1.5rem;

  border: none;
  border-radius: 0.25rem;
  color: var(--white);
  background-color: var(--primary-color);
  
  transition: filter 0.3s;
}

form button:hover {
  cursor: pointer;
  filter: brightness(0.8);
}

.paragraph-result {
  background-color: var(--green);
  color: var(--white);
  padding: 1rem;
  border-radius: 0.25rem;
}
.isInvalid {
  background-color: var(--red);
  color: var(--white);
  padding: 1rem;
  border-radius: 0.25rem;
}

@media(max-width: 525px) {
  .infos-imc {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
} 